.skill {
    margin: 0;
    padding: 3rem;
    height: auto;
    width: auto;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    /* flex-wrap: wrap; */
    /* border: #9a5a9bff 2px solid; */
}

.skill-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
    /* border: #9a5a9bff 2px solid; */
}

.skill-info {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    /* border: #9a5a9bff 2px solid; */

}

.skill-info-item {
    font-size: 1rem;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    background-color: #343333;
    /* border: #9a5a9bff 2px solid; */
}

.skill-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 0;
    margin: 0;
}

.skill-img {
    width: 45%;
    height: auto;
    max-height: 450px;
    flex-shrink: 0;
    object-fit: cover;
    border: #636060 3px solid;
    border-radius: .5rem;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    flex-shrink: 0;
}


@media (max-width: 1024px) {
    .skill {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem;
    }

    .skill-img {
        max-width: 70%;
        margin-bottom: 2rem;
        max-height: 350px;
        margin-bottom: 2rem;
        object-fit: contain;
    }
}

@media (max-width: 768px) {
    .skill {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem
    }

    .skill-img {
        display: none;
    }

    .skill-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        margin: 0;
        text-align: center;
        /* border: #9a5a9bff 2px solid; */
    }
}